* {
  box-sizing: border-box;
}

.hoverTransparancy:hover{
  opacity: 0.8;
  transition: all 0.3s;
}

.bodyWrap {
  width: 100%;
}

.blockWrap {
  /* width of ant-col-2 */
  padding-left: 8.33333333%;
  padding-right: 8.33333333%;
}

.headerLinks {
  font-size: 16px;
}

.spaceHeader,
.mb {
  display: none;
}

.spaceHeaderWrap {
  display: none;
  text-align: right;
}

.langSelectAltWrap {
  position: absolute;
  width: 90px;
  top: calc(60px + var(--margin-sm));
  right: 4.16666667%;
}

.dropdownSelectWrap {
  display: none !important;
}

.hamburger {
  margin-left: 16px;
  font-size: 18px;
  color: #828282 !important;
}

.heroblockRow {
  /* height: 460px; */
  padding-top: 50px;
  padding-bottom: 50px;
  background: #9b51e00e;
}

.HeadLine {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 38px;
  line-height: 50px;
  /* color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: var(--heading-1-size);
  line-height: 1.23; */
}

.primaryTextColor {
  color: #9b51e0;
}

.subLine {
  margin-top: 10px;
  /* color: #828282;
  font-weight: 600;
  font-size: var(--heading-5-size);
  line-height: 1.5; */
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* or 136% */

  color: #434343;
}

.heroblockCol {
  display: flex;
  align-items: center;
}
.heroBlockImages {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  position: relative;
  width: 403px;
  height: 403px;
}
.shadowDiv {
  box-sizing: border-box;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 443px;
  height: 443px;
  left: 0px;
  top: 0px;
}
.heroBlockImg1 {
  box-sizing: border-box;
  border-radius: 50%;
  background-size: cover !important;
  position: absolute;
  width: 403px;
  height: 403px;
  left: 20px;
  top: 20px;

  background: url("/screenshot-9.png");
  border: 13px solid #ffffff;
  filter: drop-shadow(0px 4px 30px rgba(114, 28, 194, 0.15));
}
.heroBlockImg2 {
  box-sizing: border-box;
  border-radius: 50%;
  background-size: cover !important;
  position: absolute;
  width: 240px;
  height: 240px;
  left: 352px;
  top: -17px;

  background: url("/screenshot-7.png");
  border: 8px solid #ffffff;
  filter: drop-shadow(0px 21px 20px rgba(60, 2, 115, 0.2));
}
.heroBlockImg3 {
  box-sizing: border-box;
  border-radius: 50%;
  background-size: cover !important;
  position: absolute;
  width: 220px;
  height: 220px;
  left: -28px;
  top: 271px;

  background: url("/screenshot-5.png");
  border: 6px solid #ffffff;
  filter: drop-shadow(0px 15px 25px rgba(60, 2, 115, 0.2));
}
.heroBlockImg4 {
  box-sizing: border-box;
  border-radius: 50%;
  background-size: cover !important;
  /* background-position-x: -48px !important; */
  position: absolute;
  width: 203px;
  height: 203px;
  right: -40px;
  top: 293px;
  display: none;
  background: url("/screenshot-8.png");
  border: 6px solid #ffffff;
  filter: drop-shadow(0px 15px 25px rgba(60, 2, 115, 0.2));
}

.illustrationSvg {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.FeaturesBlock {
  text-align: center;
  justify-content: center;
  /* height: 360; */
  align-items: center;
  display: flex;
  width: 100%;
  grid-row: 2;
  margin-bottom: 30px;
}

.FeaturesBlockWrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 256px;
  margin-top: 30px;
}

.featureIcon {
  font-size: 42px;
  margin: 0 auto;
}

.FeaturesBlockWrapCenter {
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
  display: flex;
}

.HeadLineFeaturesBlock {
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 35px;
  font-weight: 600;
  /* font-size: 28px;
  line-height: 1.35; */
  margin-top: 20px;
}

.subLineFeaturesBlock {
  padding-top: 10px;
  margin-bottom: 0px;
  color: #828282;
  display: inline-block;
  /* font-weight: 600;
  font-size: 12px;
  line-height: 1.5; */
}

.HeadlineSpace {
  max-width: 374px;
}

.tabHeaderRounded {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 21px;
  width: 230px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: var(--primary-color);
  background-color: white;
  border: var(--primary-color) 2px solid;
}

.tabHeaderRounded:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

.tabHeaderRoundedActive {
  background-color: var(--primary-color);
  color: white;
}

.blockWrapPricing {
  padding-left: 8.33333333%;
  padding-right: 8.33333333%;
  text-align: center;
  background: #f6ebff;
  padding-bottom: 4%;
}

.pricingBlock {
  width: 100%;
}
.pricingBlock :global(.tag::first-letter) {
  font-family: var(--font-system);
}

.pricingBlock :global(.Grid) {
  justify-content: center;
}
.pricingBlock :global(.Grid-cell) {
  display: flex;
  justify-content: center;
}
.pricingBlock :global(.Grid-cell > ul) {
  max-width: 220px;
  min-width: 196px;
}

.pricingBlockItem {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 30px 70px rgb(41 27 198 / 20%);
}
.pricingBlockItemHeader {
  height: 150px;
  background-color: var(--processing-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}
.pricingBlockItemHeaderPlanName {
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.pricingBlockItemHeaderPlanDesc {
  color: white;
  font-size: 17px;
  text-align: center;
  opacity: 80%;
}
.pricingBlockItemBody {
  color: var(--grey-1);
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding: 5%;
}
.pricingBlockItemAmount {
  font-size: 24px;
  color: var(--processing-color);
  text-align: center;
  margin: -15px auto;
  font-weight: 800;
}
.pricingBlockItemAmountSubTexts {
  text-align: center;
  margin: 10px auto;
  font-weight: normal;
  color: var(--grey-1);
}
.pricingBlockItemFooter {
  height: 60px;
  background-color: var(--processing-color);
  text-align: center;
  padding: 4%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.pricingBlockItemFooter:hover{
  transition: all 0.3s;
  opacity: 0.7;
}

.finalBlockOnlyCol {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.finalBlockWrap {
  width: 100%;
  text-align: center;
}

.girlIllustration {
  position: absolute;
  /* bottom: -10; */
  left: 20px;
  width: 160px;
  height: 120px;
  bottom: 30px;
}

.dataSafetyWrap {
  background: #a6a6a6b3;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: #35353529 inset 0px 0px 28px;
}
.dataSafetyItemImg {
  width: 100px;
  padding: 26px !important;
  margin-top: 5px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 30px 70px rgb(0 0 0 / 30%);
  transition: all 0.5s;
  /* box-shadow: 5px 5px 18px #d0d0d0, -5px -5px 18px #f0f0f0; */
}

.dataSafetyItemImg:hover {
  background-color: var(--grey-3);
  box-shadow: unset;
  cursor: pointer;
  transition: all 0.3s;
}

.dataSafetyHeaderText {
  text-align: "center";
  color: var(--grey-1);
  font-size: 24px;
  font-weight: 600;
}

.dataSafetyItemText {
  width: 100;
  text-align: "center";
  color: var(--grey-1);
  font-size: 15px;
  font-weight: 500;
  width: 120px;
  text-align: center;
}

.partnerHeader{
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 30px;
  font-weight: 500;
  margin-top: 40px;
}
.partnerItemWrap{
  display: flex;
  justify-content: center;
}
.partnerItem{
  width: 300px;
  box-shadow: 0px 5px 12px rgb(41 27 198 / 20%);
  border-radius: 10px;
  margin-right: 2%;
  background: #ECF7FF;
  padding: 1.2%;
}
.partnerItemImage{
  width: 100%;
  overflow: hidden;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.partnerItemImage >img {
  width: 100%;
}

.partnerItemName{
  color: var(--grey-1);
  background-color: ECF7FF;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  /* padding: 5%; */
  padding-top: 5%;
}
.partnerItemBio{
  color: var(--grey-1);
  background-color: #ECF7FF;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  /* padding: 5%; */
  padding-top: 2%;
  padding-bottom: 5%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 420px) {
  .langSelectAltWrap {
    right: 8.33333333%;
  }
  .girlIllustration {
    position: absolute;
    /* bottom: -10; */
    left: 20px;
    width: 228px;
    height: 159px;
    bottom: 0;
  }
}
@media (min-width: 683px) {
  .FeaturesBlockWrap {
    justify-content: space-between;
    max-width: 220px;
  }

  .heroblockRow {
    justify-content: flex-start;
  }

  /* .heroblockCol {
    max-width: 400px !important;
  } */
}

@media (min-width: 768px) {
  .spaceHeader,
  .mb {
    display: none;
  }

  .spaceHeaderWrap {
    display: none;
  }

  .subLineFeaturesBlock {
    width: 70%;
  }

  .pricingBlock :global(.Grid-cell:nth-child(2n + 1)) {
    justify-content: flex-end;
  }
  .pricingBlock :global(.Grid-cell:nth-child(2n)) {
    justify-content: flex-start;
  }

  .finalBlockOnlyCol {
    margin-top: 0;
  }

  .finalBlockWrap {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .girlIllustration {
    position: absolute;
    bottom: -10px;
    left: 20px;
    /* width: 228px; */
    height: 124px;
  }
}

@media (min-width: 992px) {
  .blockWrap {
    /* width of ant-col-3 */
    padding-left: 12.5%;
    padding-right: 12.5%;
  }

  .spaceHeaderWrap {
    display: block;
  }

  .spaceHeader,
  .mb {
    display: flex;
  }

  .spaceHeader {
    height: 100%;
  }

  .hamburger {
    display: none !important;
  }

  .dropdownSelectWrap {
    display: block !important;
  }

  .langSelectAltWrap {
    display: none;
  }

  /* .dropdownSelect {
    width: 120px !important;
  } */

  .heroblockRow {
    /* height: 460px; */
    padding-top: 128px;
    padding-bottom: 128px;
    background: #9b51e00e;
  }

  .heroblockCol {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .illustrationCol {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
  }

  .illustrationSvg {
    width: 100%;
    padding-top: 0;
  }

  .FeaturesBlock {
    text-align: center;
    justify-content: center;
    /* height: 360; */
    align-items: center;
  }

  .FeaturesBlockWrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    max-width: unset;
    width: 23.5%;
    justify-content: space-between;
  }

  .FeaturesBlockWrap:not(:last-child) {
    margin-right: 2%;
  }

  .blockWrapTestimonials {
    padding-left: 8.33333333%;
    padding-right: 8.33333333%;
    background: #f6ebff;
    padding-bottom: 4%;
    display: flex;
    text-align: center;
  }

  .TestimonialCarouselWrap {
    /* width: 500px; */
    /* width: 500px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
  }
  .testimonialCard {
    border-radius: 10px;
    background-color: white;
    height: 300px;
    display: flex;
    text-align: left;
    margin: 10px;
    width: 45%;
    margin: 0 auto;
    border-radius: 10px;
    /* box-shadow: 0px 30px 70px rgb(41 27 198 / 20%); */
  }
  .testimonialCardLeft {
    width: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .testimonialImage {
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  .testimonialCardRight {
    width: 400px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .testimonialCardName {
    color: var(--grey-1);
    font-size: 17px;
    font-weight: 600;
  }
  .testimonialCardPosition {
    color: var(--grey-2);
    font-size: 15px;
    font-weight: 500;
  }
  .testimonialCardBody {
    background-color: var(--processing-color);
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 10px;
    width: 400px;
    text-align: justify;
  }

  .girlIllustration {
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 280px;
    height: 189px;
  }
}

.useCasesTextWrapper {
  margin-top: 40px;
  text-align: left;
}
.useCasesSubtitle {
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
}
.useCasesBody {
  font-size: 16px;
  margin-top: 10px;
}
.useCasesBulletWrapper {
  margin-top: 20px;
  margin-left: 20px;
}

.useCasesBulletItem {
  font-size: 16px;
  padding: 5px;
}
.useCasesImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.featureTitle {
  font-size: 28px;
  font-weight: 600;
  margin-top: 10px;
}

.featureBody {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
  text-align: justify;
}

.featureBlock {
  background-color: #eaf4ff;
  text-align: center;
  justify-content: center;
  /* height: 360; */
  align-items: center;
  display: flex;
  width: 100%;
  grid-row: 2;
  padding-bottom: 30px;
}
.featureItem {
  background-color: #eaf4ff;
  text-align: left;
  /* border-bottom: 1px dashed var(--primary-color); */
  height: 300px;
  /* margin-bottom: 20px; */
}
.featureImg {
  position: absolute;
  width: 250;
  height: 200px;
  left: 50px;
  top: 0px;
}
.featureImgReverse {
  left: unset;
  right: 100px;
}
.featureBackGraphics {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 150px;
  top: 20px;

  background: #ffc107;
  /* box-shadow: 0px 10px 30px #c5e5ff; */
  border-radius: 30px;
  transform: rotate(5.79deg);
  /* border-radius: 50px; */
  /* box-shadow: -5px -5px 18px #ffc107,
  5px 5px 18px #f0f0f0; */
}

.graphicsRotateReverse {
  width: 300px;
  height: 200px;
  left: -30px;
  transform: rotate(-5.79deg);
  left: unset;
  right: 50px;
}

.otherFeatureItemsWrapper {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.otherFeatureItem {
  padding: 20px;
  width: 250px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 30px 70px rgba(41, 27, 198, 0.2);
  border-radius: 20px;
  margin: 12px;
  /* box-shadow: 20px 20px 60px rgba(41, 27, 198, 0.2), -20px -20px 60px #ffffff; */
}

.otherFeatureItem > img {
  width: 67px;
  height: 67px;
}
.otherFeatureItem > div {
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #434343;
}

.blockWrapFooter {
  padding-left: 8.33333333%;
  padding-right: 8.33333333%;
  background: var(--processing-color);
}

.footer {
  display: "flex";
  height: 300px;
  justify-content: space-between;
}

.footerColumn1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

.footerColumn1 > div {
  font-size: 15px;
  font-weight: 500;
  margin: 10px;
}
.footerColumn2 {
  display: flex;
  flex-direction: column;
  color: white;
}
.footerColumn2 > div {
  font-size: 15px;
  font-weight: 500;
  margin: 3px;
}

.footerColumn3 {
  display: flex;
  flex-direction: column;
}

.footerColumn3 > div {
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.footerColumn3 img {
  margin-right: 8px
}

.footerColumn4 {
  display: flex;
  flex-direction: column;
}

.footerColumn4 > div {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .FeaturesBlockWrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    /* max-width: 200px; */
    justify-content: space-between;
  }

  /* .dropdownSelect {
    width: 120px !important;
  } */
}

@media (min-width: 1440px) {
  .langSelectAltWrap {
    right: 12.5%;
  }
}

@media (min-width: 992px) {
  .pricingBlock :global(.react-pricing-table) {
    width: 100%;
  }
  .pricingBlock :global(.Grid-cell > ul) {
    width: 100% !important;
    max-width: unset;
    min-width: 196px;
  }
  .pricingBlock :global(.Grid-cell:first-child > ul) {
    margin-left: 0px;
  }
  .pricingBlock :global(.Grid-cell:last-child > ul) {
    margin-right: 0px;
  }
}
@media (min-width: 992px) and (max-width: 1259px) {
  .pricingBlock {
    padding-left: 4.16666667%;
    padding-right: 4.16666667%;
  }
  .pricingBlock :global(.Grid) {
    flex-wrap: nowrap;
  }

  .pricingBlock :global(.Grid-cell > ul) {
    width: 196px;
  }

  /* .pricingBlock :global(.Grid-cell) {
    flex-basis: 50%;
    width: 50%;
  } */
  /* .pricingBlock :global(.Grid-cell:nth-child(2n + 1)) {
    justify-content: flex-start;
  }
  .pricingBlock :global(.Grid-cell:nth-child(2n)) {
    justify-content: flex-start;
  } */
}
@media (min-width: 1200px) {
  .pricingBlock :global(.Grid) {
    flex-wrap: nowrap;
  }

  .girlIllustration {
    width: 328px;
    height: 259px;
    bottom: 0px;
  }

  .dropdownSelect {
    width: 100px !important;
  }
}
